
// Imports
@import '../knife.scss';
@import 'normalize';

* { 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box; 
}

/* Type Setup */
$body-font-size:    16px;
$body-line-height:  1.5;
$scale-factor:      1.333;
$ie8compatability:  true;
 
html { @include khtml(); }
body { @include kbody(); }

/* Typography */
h1,h2,h3,h4,h5,h6 {text-transform: uppercase;}
h1 { @include ktype(5, 2, 1); }
h2 { @include ktype(4, 1, 1); }
h3 { @include ktype(3, 1, 1); }
h4 { @include ktype(2, 1, 1); }
h5 { @include ktype(1, 1, 0); }
h6 { 
    @include ktype(0, 1, 0);
    text-transform: capitalize;
}
p, ul, ol,dl {@include ktype(0,0,1);}
small { 
	display: inline-block;
	@include ktype(-1,0,0); 
}


// helpers
%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after { 
	 clear: both;
	}
}

%fullblock {
	overflow: hidden;
	text-align: center;
	width:100%;
}


// main layout
.container {
	@include krem("width",1200px);
	margin:0 auto;
	@extend %clearfix;
	
	header {
		@extend %fullblock;
		@include krem("padding",24px);
	}
	.grid {
		float: left;
	    @include krem("padding-left",12px);
	    @include krem("padding-right",12px);
	}
	.grid1 {
	    @include krem("width",800px);
	}
	.grid2 {
	    @include krem("width",400px);
	}
	footer {
		@include krem("padding-top", 48px);
		@extend %fullblock;
		@extend %clearfix;
	}
}










